@model IEnumerable<DAL.Entities.UserProfile>

@{
    ViewBag.Title = "Профайлы";
    Layout = null;
}

@Scripts.Render("~/bundles/jqueryui")

<div class="panel panel-default">
    <div class="panel-heading">
        Профайлы 
        <button type="button" style="width:20%; float:right" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-plus"></span>Добавить
        </button>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.EmailConfirmed)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.EmailConfirmed)
                </td>
                <td>
                    @Html.ActionLink("Подробности", "Details", "UserProfiles", new { id = item.UserId })
                </td>
            </tr>
        }
    </table>
</div>


