@model DAL.Entities.UserProfile

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование свойств трекера</h2>
<hr />

@using ()
    @Html.AntiForgeryToken()    

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.Id)</label>
        @Model.Id
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.PhoneNumber)</label>
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.Name)</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <input type="submit" class="btn btn-primary" value="Сохранить" />
    <a class="btn btn-default" href="@Url.Action("Index")">Отмена</a>
}

