<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPSTrackers</title>



    <!-- CSS -->
    <link rel="stylesheet" href="../../Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/css/form-elements.css">
    <link rel="stylesheet" href="../../Content/css/style.css">

</head>

<body>

    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GPS Tracker</a> <!--Logo-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Личный кабинет", "Index", "PersonalArea")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Кабинет Админа", "Index", "Home")</li>
                    }
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Тест", "SignalRView", "Home")</li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Top content -->
    <div>
        @RenderBody()
        @RenderSection("scripts", required: false)
        @*<footer>
            <p>&copy; @DateTime.Now.Year – GPSTrackersViewer (c)</p>
        </footer>*@
    </div>



    <!-- Javascript -->
    <script src="../../Content/js/jquery-1.11.1.min.js"></script>
    <script src="../../Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Content/js/jquery.backstretch.min.js"></script>
    <script src="../../Content/js/retina-1.1.0.min.js"></script>
    <script src="../../Content/js/scripts.js"></script>


    <!--[if lt IE 10]>
        <script src="~/Content/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>