@model IEnumerable<DAL.Entities.GPSTracker>

@{
    ViewBag.Title = "Устройства";
    Layout = null;
}



<div class="panel panel-default">
    <div class="panel-heading">Устройства <button type="button" style="width:20%; float:right" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span>Добавить</button>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            </tr>
        }
    </table>
</div>

