@model DAL.Entities.ApplicationUser

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Add New Phone</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => Model.Id, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Id)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.UserName, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Email, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.EmailConfirmed, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.EmailConfirmed, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.EmailConfirmed)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.PhoneNumber, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Save" />
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
}
@section scripts{
<script>
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
       // $.validator.unobtrusive.parse("form");
</script>
    }

