@model IEnumerable<DAL.Entities.GPSTrackerMessage>

@{
    ViewBag.Title = "Сообщения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Areas/admin/Views/_back_button.cshtml")

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title
        <a href="@Url.Action("Create","GpsTrackerMessages",new { area = "admin" },null)" class="btn btn-success btn-xs" data-modal="" id="btnCreate" style="float:right; width:20%;">
            <span class="glyphicon glyphicon-plus"></span>Добавить
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPSTrackerId)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPSTrackerId)
                </td>
                <td>
                    <a href="@Url.Action("Edit","GpsTrackerMessages", new { id = item.Id, area = "admin" },null)" class="btn btn-success btn-xs" data-modal="" id="btnEdit" style="float:right">
                        <span class="glyphicon glyphicon-apple"></span>Редактировать
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Delete","GpsTrackerMessages", new { id = item.Id, area = "admin" },null)" class="btn btn-success btn-xs" data-modal="" id="btnDelete" style="float:right">
                        <span class="glyphicon glyphicon-trash"></span>Удалить
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
@Html.Partial("~/Areas/admin/Views/_modal_partial.cshtml")

@section scripts{
    @Scripts.Render("~/Areas/admin/scripts/modal-partial.js")
}
