
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Администрирование</h3>

<aside class="sidebar col-sm-2" role="complementary">	
        <ul class="nav nav-pills nav-stacked">
            <li>@Ajax.ActionLink("Пользователи", "Index", "Users", new AjaxOptions { UpdateTargetId = "results" })</li>
            <li>@Ajax.ActionLink("Профили","Index","UserProfiles",new AjaxOptions {UpdateTargetId ="results"})</li>
            <li>@Ajax.ActionLink("Устройства", "Index", "GpsTrackers", new AjaxOptions { UpdateTargetId = "results" })</li>
        </ul>
</aside>



<div id="results" class="col-lg-10"></div>
@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/Areas/admin/scripts/modal-partial.js")
}
