@model WebMVC.Models.TrackersViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_PersonalAccountLayout.cshtml";
}
<h2>Регистрация нового трекера</h2>
<hr />

@using (Html.BeginForm("Register", "Trackers", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.Name)</label>
        @Html.TextBoxFor(m => m.Name,
                                 new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.PhoneNumber)</label>
        @Html.TextBoxFor(m => m.PhoneNumber,
                                 new { @class = "form-control" })
    </div>

    <input type="submit" class="btn btn-primary" value="Сохранить" />
    <a class="btn btn-default" href="@Url.Action("Index")">Отмена</a>
}

